# Environment variables
.env
.env.*
!.env.example

# Dependencies
vendor/
node_modules/

# Storage & Logs
/storage/logs/*
!/storage/logs/.gitignore
/storage/cache/*
!/storage/cache/.gitignore
*.log


# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db
[Dd]esktop.ini

# Databases
*.sqlite
*.sqlite3
*.db
*.db-journal

# Uploads
public/uploads/images/*
!public/uploads/images/.gitkeep
public/uploads/pdfs/*
!public/uploads/pdfs/.gitkeep